[Unit]
Description=Athena Gadgetfs Init Service
After=home.mount

[Service]
ExecStart=/usr/sbin/prepare-gadgetfs

[Install]
WantedBy=multi-user.target
